/* SECCION NAVBAR */

/* fondo redes */
.list-group{
    --bs-list-group-bg: transparent;
}/* fondo redes */

/* boton login */
.btnLogin:hover{   
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;   
}/* boton login */

/* cambio de color redes */
.fa-2x.fa-brands.fa-github:hover{
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
}
.fa-2x.fa-brands.fa-linkedin:hover{
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
}
.fa-2x.fa-solid.fa-user-lock:hover{
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
}/* fin cambio de color redes */

/* SECCION NAVBAR */



/* SECCION BANER */

/* boton edicion imagen baner */
.btn-edit-baner{    
    padding-top: 5rem;
    float: right;
}/* boton edicion imagen baner */

/* banner de fondo */
section.banner{
    margin-top: -5rem;
    background-image: url(/maquetaFrontEnd/assents/img/fotoBaner1.jpeg);
    width: 100%;
    height: 89vh;
    background-repeat: no-repeat;    
    background-size: cover;   
}/* banner de fondo */

/* texto banner */
h1.intro{
    padding-top: 13%;
    font-size: 3rem;
    text-decoration: none;
    color: white;
}/* texto banner */

/* SECCION BANER */



/* SECCION PRESENTACION */

/* foto perfil seccion presentacion */
.fotoPerfil{        
    margin-top: -5rem;
}/* foto perfil seccion presentacion */

/* texto seccion presentacion */
.textoPresentacion{
    margin-top: 6.5rem;
    padding-right: 5rem;;
}/* texto seccion presentacion */

/* lapiz editar foto perfil seccion presentacion */
.lapizEdicionImagenPerfil{
  padding-left: 25rem;
  margin-top: -38rem;
}/* lapiz editar foto perfil seccion presentacion */

/* lapiz editar texto imagen perfil seccion presentacion */
.lapizEditartextoImgPresentacion{
   padding-left: 21rem;
   margin-top: -15rem;
}/* lapiz editar texto imagen perfil seccion presentacion */

/* lapiz editar texto presentacion */
.lapiztextoPresentacion{ 
    margin-right: 2.5rem;         
    margin-top: -19rem;
    float: right;
} /* lapiz editar texto presentacion */

/* SECCION PRESENTACION */



/* SECCIÓN EXPERIENCIA */

/* texto experiencia seccion experiencia */
.experiencia{
      padding-top: 5rem;
}/* texto experiencia seccion experiencia */

/* texto experiencia sección experiencia */
.textoExperiencia{
    text-align: right;
    margin-top: -1rem;
    margin-right: -7rem;
}
/* texto experiencia sección experiencia */

/* logoNtn24 seccion experiencia */
.logoNtn24{
    text-align: right;
    margin-top: -0.5rem;
    margin-right: -8rem;
    width: 22rem;    
    position: absolute;
}/* logoNtn24 seccion experiencia */

/* texto redactor-web seccion experiencia */
.textoRedactorWeb{ 
    text-align: right;   
    margin-top: -0.5rem;     
    margin-right: 5rem;
}/* texto redactor-web seccion experiencia */

/* lapiz editar texto experiencia */
.lapizEditarTextoExperiencia{ 
    float: right;     
    margin-right: -9rem;
    margin-top: -5rem;       
}/* lapiz editar texto experiencia */

/* lapiz editar logo ntn24 seccion experiencia */
.lapizEditarLogoNtnExperiencia{ 
    float: right;
    margin-top: -2.5rem; 
    margin-right: -5rem; 
}/* lapiz editar logo ntn24 seccion experiencia */

/* lapiz editar texto largo experiencia */
.lapizEditarTextoLargoExperiencia{ 
    float: right;     
    margin-right: 3rem;
    margin-top: -6rem;       
}/* lapiz editar texto largo experiencia */

/* SECCIÓN EXPERIENCIA */



/* SECCIÓN EDUCACIÓN */

/* estilo texto educación seccion educación */
.estiloTextoEducacion{
    text-align: right;
    margin-top: 10rem;
    margin-right: -5rem;
}/* estilo texto educación seccion educación */

/* lapiz editar texto educacion */
.lapizEditarTextoEducacion{ 
    position: absolute;
    margin-left: 26.5rem;
    margin-top: -5rem; 
}/* lapiz editar texto educacion */

/* logo universidad-del-quidío sección educación  */
.estiloLogoUniversidadQuindio{    
    text-align: right;
    margin-top: 10rem;  
    margin-left: 12rem;  
    width: 5rem;       
    position: absolute;    
}/* logo universidad-del-quidío sección educación  */

/* texto comunicador social seccion educación */
.textoComunicadorSocial{
    margin-top: 10rem;
    text-align: right; 
    margin-right: -1rem;
}/* texto comunicador social seccion educación */

/* logo seProgramar sección educación */
.logoSeProgramar{    
    margin-top: 11rem;  
    margin-left: 1rem; 
    width: 12rem;    
    position: absolute;    
}/* logo seProgramar sección educación */

/* lapiz editar logo ntn24 seccion educacion */
.lapizEditarLogoArgentinaPrograma{
    margin-top: 22.5rem;
    margin-left: 18.5rem;
    position: absolute;
}/* lapiz editar logo ntn24 seccion educacion */

/* lapiz editar logo ntn24 seccion educacion */
.lapizEditarLogoUniversidad{      
    margin-left: 16.5rem; 
    margin-top: 8.5rem; 
    position: absolute;
}/* lapiz editar logo ntn24 seccion educacion */

/* texto largo se-programar seccion educación */
.textosSeProgramar{
    margin-top: 10rem;
    text-align: right; 
    margin-right: -1rem;
}/* texto largo se-programar seccion educación */

/* lapiz editar texto largo se programar sección educacion */
.lapizEditarTextoLargoSeProgramar{
    margin-top: -6rem;
    margin-left: 0rem;
    position:absolute;
}/* lapiz editar texto largo se programar sección educacion */

/* lapiz editar texto largo universidad sección educacion */
.lapizEditarTextoLargoUniversidad{         
    margin-right: -2.4rem;
    margin-top: -10.5rem;       
}/* lapiz editar texto largo universidad sección educacion */

/* SECCIÓN EDUCACIÓN */



/* SECCIÓN SKILLS */

/* sección Hard & Soft Skills */
.skills{
    margin-top: -2rem;
    margin-right: -7rem;
}/* sección Hard & Soft Skills */

/* texto skills seccion skills */
.textoSkills{
    text-align: right;
    margin-top: 10rem;
    margin-right: -4rem;
}/* texto skills seccion skills */

/* SECCION SKILLS */


/* SECCION PROYECTOS */

/* texto proyectos seccion proyectos */
.textoProyectos{    
    margin-top: 5rem;
    margin-right: -6rem;
}/* texto proyectos seccion proyectos */

/* SECCION PROYECTOS */


/* SECCION FOOTER */
/* footer */
.footeralfondo{
    margin-top: 100vh;
}/* footer */

/* SECCION FOOTER */



/* STILOS PÁGINA LOGIN */

/* espacio del formulario 100% */
.login{
    height: 82vh;
}/* espacio del formulario 100% */

/* espacio formulario */
.formulariologin{
    margin-top: 15%;
}/* espacio formulario */

/* STILOS PÁGINA LOGIN */
