/* fondo redes */
.list-group{
    --bs-list-group-bg: transparent;
}/* fondo redes */

/* boton login */
.btnLogin:hover{   
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;   
}/* boton login */

/* cambio de color redes */
.fa-2x.fa-brands.fa-github:hover{
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
}

.fa-2x.fa-brands.fa-linkedin:hover{
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
}

.fa-2x.fa-solid.fa-user-lock:hover{
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
}/* fin cambio de color redes */

/* boton edicion imagen baner */
.btn-edit-baner{    
    padding-top: 5rem;
    float: right;
}/* boton edicion imagen baner */

/* banner de fondo */
section.banner{
    margin-top: -5rem;
    background-image: url(/assents/img/fotoBaner1.jpeg);
    width: 100%;
    height: 89vh;
    background-repeat: no-repeat;    
    background-size: cover;   
}/* banner de fondo */

/* texto banner */
h1.intro{
    padding-top: 13%;
    font-size: 3rem;
    text-decoration: none;
    color: white;
}/* texto banner */

/* foto perfil seccion presentacion */
.fotoPerfil{        
    margin-top: -5rem;
}/* foto perfil seccion presentacion */

/* lapiz editar texto imagen perfil seccion presentacion */
.lapizEditartextoImgPresentacion{
   padding-left: 20rem;
   margin-top: -5rem;
}/* lapiz editar texto imagen perfil seccion presentacion */

/* lapiz editar texto presentacion */
.lapiztextoPresentacion{
    float: right;    
    margin-top: -13rem;
    margin-right: 2rem;
} /* lapiz editar texto presentacion */

/* seccion educación */
.educacion{
    text-align: right;
    margin-top: 4.5rem;
    margin-right: -5.5rem;
}/* seccion educación */

/* estudios seccion educación  */
.EstudiosEducacion{
    text-align: right;
    margin-top: 5rem;
    margin-right: -5rem;
}/*estudios seccion educación */

/* texto seccion presentacion */
.textoPresentacion{
    margin-top: 6.5rem;
    padding-right: 5rem;;
}/* texto seccion presentacion */

/* texto estudios seccion estudios */
.textosEstudios{
    margin-top: 6rem;
    text-align: right;  
}/* texto estudios seccion estudios */

/* logo seProgramar sección estudios */
.logoSeProgramar{
    margin-top: 4rem;
    margin-right: -1rem;
}/* logo seProgramar sección estudios */

/* logoNtn24 seccion experiencia */
.logoNtn24{
    text-align: right;  
    margin-right: -1rem;  
}/* logoNtn24 seccion experiencia */


/* texto experiencia seccion experiencia */
.textoExperiencia{
    text-align: right;
    margin-top: 5rem;
    margin-right: -6rem;  
}/* texto experiencia seccion experiencia */


/* texto skills seccion skills */
.textoSkills{
    text-align: right;
    margin-top: 5rem;
    margin-right: -6rem;
}/* texto skills seccion skills */

/* texto proyectos seccion proyectos */
.textoProyectos{
    text-align: right;
    margin-top: 5rem;
    margin-right: -6rem;
}/* texto proyectos seccion proyectos */

/* footer */
.footeralfondo{
    margin-top: 100vh;
}/* footer */


/* espacio del formulario 100% */
.login{
    height: 82vh;
}/* espacio del formulario 100% */

/* espacio formulario */
.formulariologin{
    margin-top: 15%;
}/* espacio formulario */
